{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row m-4">
    <!-- Equipment Detail Column -->
    <div class="col-12 d-flex justify-content-end">
      <a class="btn btn-primary" href="{% url 'add_calculator' %}" role="button"><i class="fa-solid fa-plus"></i> Add Equipment</a>
      <button class="btn btn-primary" id="calc-daily-exposure"><i class="fa-solid fa-calculator"></i> Calculate Daily Exposure</button>
      <a class="btn btn-primary" href="#" role="button">Reset</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row m-4">
      <div class="col-10">
              <table class="table">
                  <thead class="blue">
                    <tr id="equipment-list">
                      <th>Category - Make and Model</th>
                      <th>Vibration Magnitude</th>
                      <th>Exposure Points per Hour</th>
                      <th>Time to reach EAV 2.5 m/s&#178; A(8)</th>
                      <th>Time to reach ELV 5 m/s&#178; A(8)</th>
                      <th>Exposure Duration</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for equipment in calculator_list %}
                    <tr>
                      <td>{{ equipment.make_and_model.category }} - {{ equipment.make_and_model }}</td>
                      <td>{{ equipment.make_and_model.vibration_magnitude }}</td>
                      <td>{{ equipment.make_and_model.exp_pts_per_hour }}</td>
                      <td>{{ equipment.make_and_model.time_to_eav }}</td>
                      <td>{{ equipment.make_and_model.time_to_elv }}</td>
                      <td>{{ equipment.exposure_duration_hours }} Hours {{ equipment.exposure_duration_minutes }} Minutes</td>
                      <td><a href="{% url 'edit_calculator' equipment.slug %}"><i class="fa-solid fa-pen-to-square"></i></a></td> 
                      <td><a href="{% url 'delete_calculator' equipment.slug %}"><i class="fa-solid fa-trash"></i></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
      </div>
      <div class="col-2">
        <table class="table">
          <thead class="blue">
            <tr>
              <th>Partial Exposure m/s² A(8)</th>
              <th>Partial Exposure Points</th>
            </tr>
          </thead>
          <tbody>
          {% for equipment in calculator_list %}
            <tr>
              <td class="partial-exposure">{{ equipment.partial_exposure }}</td>
              <td class="partial-exposure-pts">{{ equipment.partial_exposure_pts }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

<!-- Project Controls and Daily Exposure -->

  <div class="row m-4 mb-5">
    <div class="col-8">
      <table class="table">
        <thead class="blue">
          <tr>
            <th class="col-6">General Controls to Consider</th>
            <th class="col-6">EAV/ELV Specific Control Measures to Consider</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                <li>Identify the significant sources of vibration.</li>
                <li>Prioritise them as contributors to risk (ie operator exposure).</li>
                <li>Identify and evaluate solutions in terms of practicability and cost.</li>
                <li>Plan the introduction of reasonably practicable controls, with timescales.</li>
                <li>Plan the introduction of health surveillance.</li>
                <li>Define management responsibilities and allocate adequate resources to implement controls, evaluate them and monitor progress.</li>
              </ul>
            </td>
            <td id="specific-controls"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-2">
      <table class="table">
        <thead class="blue">
          <tr>
            <th>Exposure Warning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-weight-bold" id="exposure-warning"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-2">
      <table class="table">
        <thead class="blue">
          <tr>
            <th>Daily Exposure m/s² A(8)</th>
            <th>Total Exposure Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="daily-exposure">0.0</td>
            <td id="daily-exposure-pts">0</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{%endblock%}