{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row m-4">
    <h1>Delete Equipment</h1>
  </div>
  <div class="row m-4">
    <form method="POST" style="margin-top: 1.3em;">
      <h3>Do you want to delete the equipment: {{ object.make_and_model }}?</h3>
      {% csrf_token %}
      <button type="submit" class="btn btn-signup btn-lg">Submit</button>
      <a class="btn btn-primary" href="{% url 'equipment_list' %}" role="button">Cancel</a>
  </form>
  </div>
</div>

{%endblock%}