{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row m-4">
    <!-- Equipment Detail Column -->
    <div class="col-12 d-flex justify-content-end">
      <a class="btn btn-primary" href="{% url 'equipment_list' %}" role="button">Back</a>
    </div>
  </div>


  <div class="row m-4 d-flex align-items-center">
    <div class="col-8">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Category - Make and Model</li>
        <li class="list-group-item">{{ equipment.category }} - {{ equipment.make_and_model }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Vibration Magnitude</li>
        <li class="list-group-item">{{ equipment.vibration_magnitude }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Exposure Points per Hour</li>
        <li class="list-group-item">{{ equipment.exp_pts_per_hour }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Time to reach EAV 2.5 m/s&#178; A(8)</li>
        <li class="list-group-item">{{ equipment.time_to_eav }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Time to reach ELV 5 m/s&#178; A(8)</li>
        <li class="list-group-item">{{ equipment.time_to_elv }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Date Tested</li>
        <li class="list-group-item">{{ equipment.test_date }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Date Added</li>
        <li class="list-group-item">{{ equipment.created_on }}</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item blue">Added By</li>
        <li class="list-group-item">{{ equipment.author }}</li>
      </ul>
    </div>
    <div class="col-4">
      <img id="equip-detail-img" src="{{ equipment.equipment_image.url }}" alt="{{ equipment.equipment_image.url }}">
    </div>
  </div>
</div>

{%endblock%}