{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Project List Column -->
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4 text-black-50">HAVS | CALC | DB</h1>
                <p class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4 text-white">
                <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="display-4">What is HAVS?</h2>
            <p>HAVS stands for Hand Arm Vibration Syndrome which is a condition caused by exposure of the hands and arms to vibration 
                when using hand held tools (e.g. pneumatic drills, grinders, chipping hammers). It is not caused by whole-body vibration or sound.
            </p>
            <p>
                HAVS has two main components: damage to the blood vessels, and damage to the nerves in the arm and hand. These manifest in the individual 
                fingers going white (Raynaud's phenomenon) for periods of time when the hand is exposed to cold and also loss of sensation/'pins-and-needles' 
                in the fingers. Damage to the blood vessels reverses to a certain extent after removal from exposure, but damage to the nerves is permanent.
            </p>
        </div>

        <div class="col-12">
            <h2 class="display-4">How can it be prevented?</h2>
            <p>In order to control the risks that cause this condition the UK Health and Safety Executive has brought in legislation called 
                'The Control of Vibration at Work Regulations 2005', which came into force on 6 July 2006. These regulations introduce action 
                and limit values for both hand-arm and whole-body vibration.
            </p>
            <p>
                Despite this legislation, many employees in industry will be exposed to vibration levels which may cause damage. Improved tool 
                design and maintenance, improved damping and reducing the level of time exposed to such tools will reduce the risk. Gloves keep 
                the hands warm and thus will reduce the amount of blanching (whitening) experienced, but there is no evidence that they will prevent the condition.
            </p>
            <p>
                To ensure that cases are caught early, a system of health surveillance is now mandatory for all employees exposed above the exposure action values. 
                For further information visit the Health & Safety Executive (HSE) website at www.hse.gov.uk
            </p>
        </div>

        <div class="col-12">
            <h2 class="display-4">How HAVS|CALC|DB can help?</h2>
            <p>
                Managing HAVS with a large workforce can be difficult. Initially ensuring that all tools have been appropriately measured, then
                ensuring that this information is available to all employees so that they can appropriately assess each activity which they undertake.
            </p>
            <p>
                This is where HAVS|CALC|DB comes in. HAVS|CALC|DB is a single database where you are able to store all of the appropriate information 
                about your vibration generating tools which is also accessible by your employees through the web. This information can then be parsed into 
                the HAVS calculator, so they can risk assess each activity which they have been tasked to complete.
            </p>
        </div>
    </div>
</div>

{%endblock%}